html,body{
	background-color: #ffe;
	height:100%;
}
header {
    background-color:#e7b997;
    color:white;
    text-align:center;
    padding:5px; 
}
nav {
    line-height:30px;
    background-color:#9c5866;
    height:300px;
    width:100px;
    float:left;
    padding:5px; 
}
aside {
    line-height:30px;
    background-color:#9c5866;
    height:300px;
    width:100px;
    float:right;
    padding:5px; 
}

section {
    width:350px;
    float:left;
    padding:10px; 
    height: 100%
}
footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
}