# Ignore the htaccess... oops.
.htaccess

# Ignore the index page... oops.
index.html

# ignore the config file, duh.
config.php

# also ignore the boards. or...most of them if I forget to comment it out.
/314
/nigganet