#ignore all files...
*

#except...
!.gitignore
!/403/
!/404/
!/banned/
!/banners/
!/css/
!/error/
!/fonts/
!/img/
!/inc/
!/js/
!/libs/
!/modules/

!*.html
8ch.html
index.html
news.html
rules.html
!LICENSE
!README.md
!*.php
config.php
status.php
s.php
!*.sql